<div class="container">

    <div class="header">

        <h1>AI Email Writer</h1>

        <p>
            Generate professional email replies using AI
        </p>

    </div>

    <mat-card class="email-card">
        <form  [formGroup]="emailForm" (ngSubmit)="generateReply()"> 
        <mat-form-field appearance="outline" class="full-width">

            <mat-label>Email Content</mat-label>

            <textarea
                matInput
                rows="8" 
                formControlName="emailContent"
                placeholder="Paste your email here...">
            </textarea>

        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">

            <mat-label>Select Tone</mat-label>

            <mat-select formControlName="tone">

                <mat-option value="professional">Professional</mat-option>

                <mat-option value="friendly">Friendly</mat-option>

                <mat-option value="formal">Formal</mat-option>

                <mat-option value="casual">Casual</mat-option>

            </mat-select>

        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            class="generate-btn"
            type="submit"
            >

             Generate Reply

        </button>
        </form>

    </mat-card>

    <mat-card class="reply-card" *ngIf="reply">

        <h2> AI Generated Reply</h2>

        <div class="reply-box">

           {{reply}}

        </div>

    </mat-card>

</div>